// Colours
$colour-light-grey: #EBEBEB;
$colour-green-grey: #6C7676;
$colour-dark-grey: #414141;
$colour-transparent-light: rgba($colour-light-grey, 0.1);

// Typography
$font-headings: 'Bebas Neue', cursive;
$font-primary: 'Open Sans', sans-serif;
